@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
:root {
  --text-color: #000;
  --bg-color: #fff;
  --bg-color-2: rgb(239, 238, 238);
  --arrow-filter1: 0;
  --arrow-filter2: 0;
  --arrow-filter3: 0;
  --arrow-filter4: 0;
  --arrow-filter5: 0;
  --arrow-filter6: 0;
}

.dark {
  --text-color: #fff;
  --bg-color: #000;
  --bg-color-2: rgb(55, 55, 55);
  --arrow-filter1: 98%;
  --arrow-filter2: 100%;
  --arrow-filter3: 0%;
  --arrow-filter4: 7deg;
  --arrow-filter5: 104%;
  --arrow-filter6: 101%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}

select {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

body {
  background: var(--bg-color-2);
  font-family: "Poppins", sans-serif;
  position: relative;
  color: var(--text-color);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px);
}

.inverted {
  transform: rotate(180deg);
}

.container {
  max-width: 1569px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  border-bottom: 1px solid #888;
  z-index: 10000;
}
header .container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
header .container .mode-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #888;
  font-size: 20px;
  gap: 10px;
}
header .container .mode-container img {
  width: 30px;
  height: 30px;
}

main {
  margin-top: 50px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
}
main .top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .top-side .search-container {
  display: flex;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.14);
  border-radius: 10px;
  overflow: hidden;
}
main .top-side .search-container button {
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
  width: 100px;
  border: 2px solid rgba(136, 136, 136, 0.4392156863);
  border-left: none;
}
main .top-side .search-container button:active {
  filter: brightness(95%);
}
main .top-side .search-container input {
  width: 500px;
  height: 70px;
  border: none;
  outline: none;
  padding: 16px;
  font-size: 18px;
  border: 2px solid rgba(136, 136, 136, 0.4392156863);
  background: var(--bg-color-2);
  color: var(--text-color);
}
main .top-side .search-container input::-moz-placeholder {
  color: var(--text-color);
}
main .top-side .search-container input::placeholder {
  color: var(--text-color);
}
main .top-side .dropdown {
  display: flex;
  background: var(--bg-color);
  padding: 20px;
  border-radius: 8px;
  gap: 30px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  z-index: 5;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.14);
}
main .top-side .dropdown .chevron {
  transition: all 0.2s linear;
}
main .top-side .dropdown .dropdown-menu {
  position: absolute;
  background: var(--bg-color);
  padding: 16px 20px;
  width: 100%;
  border-radius: 8px;
  top: calc(100% + 5px);
  left: 0;
  transition: all 0.2s linear;
  z-index: 5;
}
main .top-side .dropdown .dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .card-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}
main .card-container .card {
  border-radius: 12px;
  overflow: hidden;
  background: var(--bg-color);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.124);
}
main .card-container .card .info {
  padding: 30px 20px;
}
main .card-container .card .info h2 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 12px;
}
main .card-container .card .info p {
  font-weight: 500;
  font-size: 16px;
}
main .card-container .img-container {
  width: 100%;
  height: 43%;
  box-sizing: content-box;
}
main .card-container .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=index.css.map */